.card-in-deck-row:hover a img.card-hover {
    display: block;
    z-index: 2;
    width: 25vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a img.card-hover {
    position: fixed;
    display: none;
}